#home {
  background-color: #fff;
  background-image: url("media/wavybg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: fit-content;
  width: 100%;
  padding: 8vh 0;
}
.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}
@media (max-width: 900px) {
  .hero {
    height: auto;
    padding: 11rem 0;
    margin-top: 50px;
  }
}
.hero-main {
  align-items: center;
  display: flex;
  gap: 0rem;
  justify-content: center;
  position: relative;
}
@media (max-width: 900px) {
  .hero-main {
    flex-direction: column-reverse;
    gap: 3rem;
    height: auto;
    text-align: center;
  }
}
.content {
  align-items: center;
  display: flex;
  gap: 10rem;
  height: 65rem;
  justify-content: center;
  position: relative;
}
@media (max-width: 900px) {
  .content {
    flex-direction: column;
    gap: 3rem;
    height: auto;
    text-align: center;
  }
}
@media (min-width: 1600px) {
  .content {
    margin-top: 6rem;
  }
}
@media (min-width: 1900px) {
  .content {
    margin-top: 10rem;
  }
}
.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  position: relative;
}
.hero-text h1 {
  color: #2d2e32;
  font-size: 5.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  .hero-text h1 {
    font-size: 4rem;
  }
}
.hero-text p {
  color: #555;
  font-family: Mulish, sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
}
@media (max-width: 900px) {
  .hero-text p {
    margin-bottom: 5rem;
  }
}
.hero-text span {
  cursor: pointer;
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
}
.hero-text span a {
  color: #2d2e32;
  font-size: 3rem;
}
@media (max-width: 900px) {
  .hero-text span {
    gap: 1.6rem;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: -2rem;
  }
}
.hero-text span a {
  transition: all 0.2s;
}
.hero-text span a:hover {
  color: #147efb;
}
.hero-text span img {
  height: 50px;
  position: relative;
  transform: translateX(50%);
  transform: translateY(-25%);
  width: 55px;
}
@media (max-width: 900px) {
  .hero-text span img {
    right: 1rem;
    transform: translateX(50%);
    transform: translateY(-25%);
  }
}

/* hero image morph scale */

.hero-img {
  -webkit-animation: morph 10s ease-in-out infinite;
  animation: morph 10s ease-in-out infinite;
  background-image: url(media/mss4.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 35rem;
  position: relative;
  transition: all 0s ease-in-out;
  width: 35rem;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}
@media (max-width: 500px) {
  .hero-img {
    height: 28rem;
    width: 28rem;
  }
}
@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  25% {
    border-radius: 40% 60% 50% 50%/40% 60% 40% 60%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  75% {
    border-radius: 50% 50% 40% 60%/70% 40% 60% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  25% {
    border-radius: 40% 60% 50% 50%/40% 60% 40% 60%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  75% {
    border-radius: 50% 50% 40% 60%/70% 40% 60% 30%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* Tech stack */

.skills {
  align-items: center;
  bottom: 20px;
  color: #767676;
  display: flex;
  font-size: 1.7rem;
  left: 0;
  width: 100%;
  position: absolute;
}
@media (max-width: 900px) {
  .skills {
    flex-direction: column;
    position: static;
  }
}
.skills p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  color: #2d2e32;
  height: 40px;
  font-family: Mulish, sans-serif;
  font-weight: 600;
  margin-right: 3rem;
  padding-right: 2rem;
  justify-content: center;
  align-content: center;
}
@media (max-width: 900px) {
  .skills p {
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    border-right: none;
    margin-bottom: 3rem;
    margin-left: 0;
    padding-bottom: 1rem;
    padding-right: 0;
  }
}
.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  list-style: none;
}
@media (max-width: 900px) {
  .skills ul {
    width: fit-content;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .skills ul {
    gap: 2rem;
  }
}
.skills ul li {
  cursor: cell;
}
.skills ul li img {
  height: 5rem;
  transition: all 0.3s ease-in-out;
  width: 11rem;
}
.skills ul li img:hover {
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
}
