/* .follow-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    white-space: nowrap;
    display: none;
} */
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  z-index: 9999;
  font-size: 200%;
}
.loaderbg {
  background-image: url(media/mO.png);
  background-size: 45px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
